
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MinimalChatAppRealTimeCommunication-primary: mat.define-palette(mat.$indigo-palette);
$MinimalChatAppRealTimeCommunication-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$MinimalChatAppRealTimeCommunication-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MinimalChatAppRealTimeCommunication-theme: mat.define-light-theme((
  color: (
    primary: $MinimalChatAppRealTimeCommunication-primary,
    accent: $MinimalChatAppRealTimeCommunication-accent,
    warn: $MinimalChatAppRealTimeCommunication-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($MinimalChatAppRealTimeCommunication-theme);

/* You can add global styles to this file, and also import other style files */
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";
 @import "mdb-angular-ui-kit/assets/scss/mdb.scss";

.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }

  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }

.redClass{
  color: red;
}
.fromContriner {
  display: grid;
  grid-template-columns: 100% 0%;
  width: 36%;

  button {
    background: transparent;
    border: 0;
    transform: translateX(-40px);
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
  .tab-content {
    height: 300px;
    overflow-y: auto; 
}
}
.nav-item {
  background-color: #eee;
  width: 400px;
}@import '@fortawesome/fontawesome-free/css/all.css';


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
.items {
  width: 100%
}
.containerss {
  display: flex;
  flex-wrap: wrap;
}

.containerss>div {
  flex: 0 32%;
  /*demo*/
  box-sizing:border-box
}
.Replyinthread{
  background-color: #E8E8E8; padding: 10px; margin-left: 6px; margin-left: 10PX; border-radius: 6PX;  margin-bottom: 8px;
  
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
